* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: Arial, sans-serif;
    background-color: #ffd331; /* Yellow background */
    max-width: 1440px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16px;
}

/* -------------- ALL PAGES --------------- */ 

.maincontent-container {
    padding: 32px;
}

/* ---------------------------------------- */

/* ------------ HEADER ELEMENTS ----------- */
.navigation-container {
    padding: 16px 0;
    position: relative;
    background-color: #ffd331;
}

.link:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.logo {
    height: 130px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.navigation ul.active {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 100px;
    left: 0;
    background-color: #333;
    z-index: 1; /* the higher the number, the closer the element is to the user. Default = 0. I set it to one so that the burger menu items are above the logo */
}

.navigation ul {
    display: none;
}

.navigation ul li {
    margin: 16px 0;
    text-align: center;
}

.burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.link {
    color: white;
}

.active-link {
    color: white;
    background-color: black;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}
/* ----------------------------------------------------- */

/* ------------------- INDEX PAGE ---------------------- */
.artist-banners {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the spacing between banners */
    height: 100vh;
    margin-bottom: 20px;
}

.banner {
    max-width: 100%; /* Set a maximum width for each banner */
    border: 1px solid #ddd; /* Add a border for visual separation */
    padding: 20px;
    background-size: cover; /* Use background images */
    background-position: center; /* Center the background images */
    text-decoration: none;
}

.banner-text {
    background-color: #333;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.banner h2 {
    padding: 0 5px 0;
    color: white;
}

.banner p {
    color: white;
    padding: 0 5px 0;
}


/* Background images */
.banner:nth-child(1) {
    background-image: url('../images/zephyr-artist.jpg');
}

.banner:nth-child(2) {
    background-image: url('../images/luna-artist.jpg');
}

.banner:nth-child(3) {
    background-image: url('../images/nyx-artist.jpg');
}
/* ----------------------------------------------------- */

/* ---------------- ART-AND-STORIES PAGE --------------- */

.artists-showcase {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.artists-showcase h1 {
    text-align: center;
    color: #333;
}

.artist {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.artist h3 {
    margin-top: 0;
    color: #555;
}
.videoelement, 
.audioelement {
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
}

.description {
    margin: 20px 0;
    color: #666;
    text-align: center;
}
/* -------------------------------------------------- */

/* -------------------- ABOUT PAGE ------------------ */

.museum-image {
    width:100%; 
    height:auto; 
    margin-top: 40px 
}

.column-heading {
    display: inline;
}

.columns {
    columns: 300px;
}

.column-p {
    margin-top: 16px;
}

/* -------------------------------------------------- */

/* --------------- TICKETS AND VISITS --------------- */
.variousinformation {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex; 
    flex-wrap: wrap; 
    row-gap: 25px;
    justify-content: space-between;
}

.mapstyle {
    width: 100%; 
    height: 400px;
}


/* ----------------- ANIMATION ---------------- */
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-7 21:13:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
/* --------------------------------------------- */


/* ----------------- MEDIA QUERIES ------------------ */

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .navigation ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .navigation ul li {
        margin-right: 16px;
    }

    .link {
        color: black;
    }
    
}

